# Python junk
__pycache__/
*.pyc

# Data (Protect Privacy!)
data/inputs/*
data/outputs/*
*.csv
*.xlsx

# Config (Optional: exclude if it contains secrets, otherwise keep it)
mockConfig.json
# config.json

# Environment
.env
venv/