# Python junk
__pycache__/
*.pyc

# Data (Protect Privacy!)
data/inputs/*
data/outputs/*
*.csv
*.xlsx

# Data Exceptions (Examples)
!data/inputs/veterans.csv
!data/inputs/freshmen.csv
!data/outputs/matches.csv

# Config
*.json
# Example model
!config/config.json     

# Environment
.env
venv/